<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/iconfont/iconfont.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/examQuery.css'/>
</head>
<body>
    <div class="headPartContainer">
        <text class="headPartText">考试管理</text>
        <div class="line"></div>
    </div>

    <div class="query1">
        <text class="query1Text">待组题</text>
        <div class="content">
            <table class="table">
                <thead>
                <tr>
                    <th>试题分类</th>
                    <th>班级</th>
                    <th>考试时间</th>
                    <th>持续时间</th>
                    <th>总分</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% examList0.forEach(function (item){ %>
                    <tr>
                        <td><%= item.curName %></td>
                        <td><%= item.className %></td>
                        <td><%= item.startTime %></td>
                        <td><%= item.duration %>分</td>
                        <td><%= item.totalPoint %>分</td>
                        <td>
                            <img src="/images/xiugai.png" class="edit1" data-curname="<%= item.curName %>" data-classid="<%= item.classId %>" data-examid="<%= item.examId %>">
                            <img src="/images/shanchu.png" class="del1">
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script>
        $(function (){
            var examId = '';
            var classId = '';
            var curName = '';
            $('.edit1').click(function (){
                examId = $(this).data('examid')
                classId = $(this).data('classid')
                curName = $(this).data('curname')
                window.location.href = `/makeQuestion?examId=${examId}&classId=${classId}&curName=${curName}`
            })
        })
    </script>

    <div class="query2">
        <text class="query2Text">待批改</text>
        <div class="content">
            <table class="table">
                <thead>
                <tr>
                    <th>试题分类</th>
                    <th>班级</th>
                    <th>考试时间</th>
                    <th>持续时间</th>
                    <th>总分</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% examList1.forEach(function (item){ %>
                    <tr>
                        <td><%= item.curName %></td>
                        <td><%= item.className %></td>
                        <td><%= item.startTime %></td>
                        <td><%= item.duration %>分</td>
                        <td><%= item.totalPoint %>分</td>
                        <td>
                            <img src="/images/xiugai.png" class="edit2" data-classid="<%= item.classId %>" data-examid="<%= item.examId %>">
                            <img src="/images/shanchu.png" class="del2">
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(function (){
            var examId = '';
            var classId = '';
            $('.edit2').click(function (){
                examId = $(this).data('examid')
                classId = $(this).data('classid')
                window.location.href = `/correctQuestion?examId=${examId}&classId=${classId}`
            })
        })
    </script>

    <div class="query3">
        <text class="query3Text">已完成</text>
        <div class="content">
            <table class="table">
                <thead>
                <tr>
                    <th>试题分类</th>
                    <th>班级</th>
                    <th>考试时间</th>
                    <th>持续时间</th>
                    <th>总分</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% examList2.forEach(function (item){ %>
                    <tr>
                        <td><%= item.curName %></td>
                        <td><%= item.className %></td>
                        <td><%= item.startTime %></td>
                        <td><%= item.duration %>分</td>
                        <td><%= item.totalPoint %>分</td>
                        <td>
                            <img src="/images/xiugai.png" class="edit3">
                            <img src="/images/shanchu.png" class="del3">
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>