<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/iconfont/iconfont.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/gradeCount.css'/>
</head>
<body>
<div class="headPartContainer">
    <text class="headPartText">成绩管理</text>
    <div class="line"></div>
</div>
<div class="selectContainer">
    <div class="oneInputContainer">
        <text class="examNameText">课程名</text>
        <!--            <input type="text" class="examNameInput"  placeholder="试卷名" name="examName">-->
        <div class="dropdown">
            <input type="text" class="text01" readonly placeholder="课程名" name="curName">
            <div class="option">
                <div onmouseover="show1('计算机网络')">计算机网络</div>
                <div onmouseover="show1('计算机组成')">计算机网络</div>
            </div>
        </div>
        <script>
            function show(a){
                document.querySelector('.text01').value=a;
            }
            let dropdown = document.querySelector('.dropdown');
            dropdown.onclick = function (){
                dropdown.classList.toggle('active');
            }
        </script>
    </div>

    <div class="oneInputContainer">
        <text class="examNameText">班级</text>
        <!--            <input type="text" class="examNameInput"  placeholder="试卷名" name="examName">-->
        <div class="dropdown1">
            <input type="text" class="text02" readonly placeholder="班级" name="className">
            <div class="option">
                <div onmouseover="show('计科1902')">计科1902</div>
                <div onmouseover="show('计科1901')">计科1901</div>

            </div>
        </div>
        <script>
            function show1(a){
                document.querySelector('.text02').value=a;
            }
            let dropdown1 = document.querySelector('.dropdown1');
            dropdown1.onclick = function (){
                dropdown1.classList.toggle('active1');
            }
        </script>
    </div>
</div>


<div class="content">
    <table class="table">
        <thead>
        <tr>
            <th>试题分类</th>
            <th>班级</th>
            <th>所属学院</th>
            <th>考试时间</th>
            <th>持续时间</th>
            <th>总分</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% examList.forEach(function (item){ %>
            <tr>
                <td><%= item.curName %></td>
                <td><%= item.className %></td>
                <td><%= item.startTime %></td>
                <td><%= item.duration %>分</td>
                <td><%= item.totalPoint %>分</td>
                <td>
                    <img src="/images/xiugai.png" class="edit" data-classid="<%= item.classId %>" data-examid="<%= item.examId %>">
                    <img src="/images/shanchu.png" class="del">
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<script src="/javascripts/jquery-3.2.1.js"></script>
<script>
    $(function (){
        var examId = '';
        $('.edit').click(function (){
            examId = $(this).data('examid')
            window.location.href = `/gradeCountDetail?examId=${examId}`
        })
    })
</script>

</body>
</html>