<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/iconfont/iconfont.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/makeQuestion.css'/>
</head>
<body>
    <div class="headPartContainer">
        <text class="headPartText">考试管理</text>
        <div class="line"></div>
    </div>

    <div class="selectContainer">
        <a href="#" class="select1">手动添加</a>
        <a href="/makeQuestionAuto" class="select2">自动组卷</a>
    </div>

    <form action="/selectQuestion1" method="post">
        <div class="headAllContainer">
            <div class="oneInputContainer">
                <text class="examNameText">课程名称</text>
                <div class="dropdown">
                    <input type="text" class="text01" readonly placeholder="试卷名称" name="curName">
                    <div class="option">
                        <div onmouseover="show('数据结构')">数据结构</div>
                        <div onmouseover="show('计算机组成原理')">计算机组成原理</div>
                        <div onmouseover="show('计算机网络')">计算机网络</div>
                        <div onmouseover="show('操作系统')">操作系统</div>
                    </div>
                </div>
                <script>
                    function show(a){
                        document.querySelector('.text01').value=a;
                    }
                    let dropdown = document.querySelector('.dropdown');
                    dropdown.onclick = function (){
                        dropdown.classList.toggle('active');
                    }
                </script>
            </div>

            <div class="dropdown1">
                <input type="text" class="text02" readonly placeholder="题目类型" name="queType">
                <div class="option">
                    <div onmouseover="show1('单选')">单选题</div>
                    <div onmouseover="show1('多选')">多选题</div>
                    <div onmouseover="show1('填空')">填空题</div>
                    <div onmouseover="show1('问答')">问答题</div>
                    <div onmouseover="show1('计算')">计算题</div>
                    <div onmouseover="show1('编程')">编程题</div>
                </div>
            </div>
            <script>
                function show1(a){
                    document.querySelector('.text02').value=a;
                }
                let dropdown1 = document.querySelector('.dropdown1');
                dropdown1.onclick = function (){
                    dropdown1.classList.toggle('active1');
                }
            </script>

            <div class="dropdown2">
                <input type="text" class="text03" readonly placeholder="所属章节" name="chaName">
                <div class="option">
                    <div onmouseover="show2('第一章 序章')">第一章 序章</div>
                    <div onmouseover="show2('第二章 物理层')">第二章 物理层</div>
                    <div onmouseover="show2('第三章 链路层')">第三章 链路层</div>
                    <div onmouseover="show2('第四章 网络层')">第四章 网络层</div>
                </div>
            </div>
            <script>
                function show2(a){
                    document.querySelector('.text03').value=a;
                }
                let dropdown2 = document.querySelector('.dropdown2');
                dropdown2.onclick = function (){
                    dropdown2.classList.toggle('active2');
                }
            </script>

            <div class="dropdown3">
                <input type="text" class="text04" readonly placeholder="难度" name="difficulty">
                <div class="option">
                    <div onmouseover="show3('1')">1</div>
                    <div onmouseover="show3('2')">2</div>
                    <div onmouseover="show3('3')">3</div>
                    <div onmouseover="show3('4')">4</div>
                    <div onmouseover="show3('5')">5</div>
                </div>
            </div>
            <script>
                function show3(a){
                    document.querySelector('.text04').value=a;
                }
                let dropdown3 = document.querySelector('.dropdown3');
                dropdown3.onclick = function (){
                    dropdown3.classList.toggle('active3');
                }
            </script>
            <input type="submit" class="selectInputSubmit" value="搜索">
        </div>
        <div class="questionNumContainer">
            <div class="oneNum">
                <text class="typeText">单选:</text>
                <text class="numText"><%= questionNum.danXuan%></text>
            </div>
            <div class="oneNum">
                <text class="typeText">多选:</text>
                <text class="numText"><%= questionNum.duoXuan%></text>
            </div>
            <div class="oneNum">
                <text class="typeText">填空:</text>
                <text class="numText"><%= questionNum.tianKong%></text>
            </div>
            <div class="oneNum">
                <text class="typeText">计算:</text>
                <text class="numText"><%= questionNum.jiSuan%></text>
            </div>
            <div class="oneNum">
                <text class="typeText">问答:</text>
                <text class="numText"><%= questionNum.wenDa%></text>
            </div>
            <div class="oneNum">
                <text class="typeText">编程:</text>
                <text class="numText"><%= questionNum.biangCheng%></text>
            </div>
        </div>

        <div class="search-box">
            <input type="text" class="search-txt" name="searchContent" placeholder="请输入搜索内容">
            <button class="search-btn">
                <i class="iconfont icon-fangdajing fangdajing"></i>
            </button>
        </div>
    </form>

    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script>
        $(function (){
            var queId = '';
            var stem = '';
            var choiceA = '';
            var choiceB = '';
            var choiceC = '';
            var choiceD = '';
            var queType = '';
            var answer = '';
            var curName = '';

            $('.edit').click(function () {
                queId = $(this).data('queid')
                stem = $(this).data('stem')
                choiceA = $(this).data('choicea')
                choiceB = $(this).data('choiceb')
                choiceC = $(this).data('choicec');
                choiceD = $(this).data('choiced')
                queType = $(this).data('quetype')
                answer = $(this).data('answer')
                curName = $(this).data('curname')
                // var editId = 'edit-'
                // var delId = 'del-'
                // editId += queId
                // delId += queId
                // $('#'+editId).attr('src','/images/square.png')
                // $('#'+delId).attr('src','/images/cha.png')
                window.location.href = `/insertExamQuestion?queId=${queId}&stem=${stem}&choiceA=${choiceA}&choiceB=${choiceB}&choiceC=${choiceC}&choiceD=${choiceD}&queType=${queType}&answer=${answer}&curName=${curName}`
            })
            // $('.del').click(function () {
            //     queId = $(this).data('queid')
            //     var editId = 'edit-'
            //     var delId = 'del-'
            //     editId += queId
            //     delId += queId
            //     $('#'+editId).attr('src','/images/jia.png')
            //     $('#'+delId).attr('src','/images/square.png')
            //     // window.location.href = `/insertExamQuestion?queId=${queId}&stem=${stem}&choiceA=${choiceA}&choiceB=${choiceB}&choiceC=${choiceC}&choiceD=${choiceD}&queType=${queType}&answer=${answer}`
            // })
        })
    </script>

    <div class="content">
        <table class="table">
            <thead>
            <tr>
                <th>试题分类</th>
                <th>题干信息</th>
                <th>所属章节</th>
                <th>题目类型</th>
                <th>难度</th>
                <th>答案</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% questionList.forEach(function (item){ %>
                <tr>
                    <td><%= item.curName %></td>
                    <td><%= item.stem %></td>
                    <td><%= item.chaName %></td>
                    <td><%= item.queType %></td>
                    <td><%= item.difficulty %></td>
                    <td><%= item.answer %></td>
                    <td>
                        <img src="/images/jia.png" class="edit" id="edit-<%= item.queId %>" data-queid="<%= item.queId %>"
                             data-stem="<%= item.stem %>" data-curname="<%= item.curName %>"
                             data-choicea="<%= item.choiceA %>" data-choiceb="<%= item.choiceB %>"
                             data-choicec="<%= item.choiceC %>" data-choiced="<%= item.choiceD %>"
                             data-chaname="<%= item.chaName %>" data-quetype="<%= item.queType %>"
                             data-difficulty="<%= item.difficulty %>" data-answer="<%= item.answer %>"
                        >
<!--                        <img src="/images/square.png" class="del" id="del-<%= item.queId %>" data-queid="<%= item.queId %>">-->
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <div class="page">
            <ul class="pagination">
                <% var prevNum = 10; var nextNum = 10; %>
                <li class="disabled"><a href="#"> 共<%= pager.maxNum%>条 </a></li>
                <li class="disabled"><a href="#"> 总<%= pager.pageCount%>页 </a></li>

                <% if(pager.maxNum == 0) { %>
                    <li class="disabled"><a href="#"> 首页 </a></li>
                <% }else{ %>
                    <li><a href="/makeQuestionTwo?page=1"> 首页 </a></li>
                <% } %>

                <% if(pager.pageCurrent == 1) { %>
                    <li class="disabled"><a href="#>"> 上一页 </a></li>
                <% }else{ %>
                    <li><a href="/makeQuestionTwo?page=<%= parseInt(pager.pageCurrent) - 1 %>"> 上一页 </a></li>
                <% } %>

                <!--      todo 循环显示页码    开始      -->
                <% for(var i = prevNum; i > 0; i--){ %>
                    <% if(parseInt(pager.pageCurrent) - i > 0){%>
                        <li><a href="/makeQuestionTwo?page=<%= parseInt(pager.pageCurrent) - i %>"> <%= parseInt(pager.pageCurrent) - i %> </a></li>
                <% } }%>
                <li class="active"><a href="/makeQuestionTwo?page=<%= pager.pageCurrent %>"> <%= pager.pageCurrent %> </a></li>
                <% for(var i = 1; i <= nextNum; i++){%>
                    <% if( parseInt(pager.pageCurrent) + i <= pager.pageCount) {%>
                        <li><a href="/makeQuestionTwo?page=<%= parseInt(pager.pageCurrent) + i %>"> <%= parseInt(pager.pageCurrent) + i %> </a></li>

                <% }} %>
                <!--      todo 循环显示页码     结束     -->

                <% if(pager.pageCurrent == pager.pageCount) { %>
                    <li class="disabled"><a href="#>"> 下一页 </a></li>
                <% }else{ %>
                    <li><a href="/makeQuestionTwo?page=<%= parseInt(pager.pageCurrent) + 1 %>"> 下一页 </a></li>
                <% } %>

                <% if(pager.maxNum == 0) { %>
                    <li class="disabled"><a href="#"> 尾页 </a></li>
                <% }else{ %>
                    <li><a href="/makeQuestionTwo?page=<%= pager.pageCount %>"> 尾页 </a></li>
                <% } %>

            </ul>
        </div>
    </div>

    <a class="finish" href="/makeQuestionDetail">
        <text class="finishText">立即组卷</text>
    </a>

</body>
</html>